package ${projectName}.dao.impl;

import java.util.List;
import org.mybatis.spring.support.SqlSessionDaoSupport;
import com.ucf.framework.paginator.model.PageBounds;
import com.ucf.framework.paginator.model.PageList;
import ${projectName}.dao.${className}DAO;
import ${projectName}.data.${className}DO;
/**
 * 
 * @comment ${commentName} DaoImpl
 * @author ${author}
 * @date ${date}
 * @qq ${qq}
 * @version 1.0
 */
public class ${className}DAOImpl extends SqlSessionDaoSupport implements ${className}DAO {
	/**
     * 添加${commentName}
     * @param ${commentName} DO
     * @return
     */
    public int add(${className}DO ${lowerName}DO){
    	return this.getSqlSession().insert("${projectName}.dao.${className}DAO.add", ${lowerName}DO);
    }

    /**
     *  更新${commentName}（无条件）
     * @param ${commentName} DO
     * @return
     */
    public int update(${className}DO ${lowerName}DO){
    	return this.getSqlSession().update("${projectName}.dao.${className}DAO.update", ${lowerName}DO);
    }

    /**
     *  更新${commentName}（有条件）
     * @param ${commentName} DO
     * @return
     */
    public int updateBySelective(${className}DO ${lowerName}DO){
    	 return this.getSqlSession().update("${projectName}.dao.${className}DAO.updateBySelective",${lowerName}DO);
    }

    /**
     *  删除${commentName}
     * @param uuid
     * @return
     */
    public int delete(String[] uuid){
    	return this.getSqlSession().delete("${projectName}.dao.${className}DAO.delete", uuid);
    }

    /**
     *  查询${commentName}（根据ID）
     * @param uuid
     * @return
     */
    public ${className}DO queryById(String uuid){
    	return this.getSqlSession().selectOne("${projectName}.dao.${className}DAO.queryById", uuid);
    }

    /**
     * 查询${commentName}总数（有条件）
     * @param ${commentName} DO
     * @return count
     */
    public Integer queryByCount(${className}DO ${lowerName}DO){
    	return this.getSqlSession().selectOne("${projectName}.dao.${className}DAO.queryByCount", ${lowerName}DO);
    }

    /**
     * 查询${commentName}信息列表（有条件）（待分页）
     * @param ${commentName} DO
     * @return PageList<${className}DO>
     */
    public PageList<${className}DO> queryByList(${className}DO ${lowerName}DO,PageBounds pageBounds){
    	pageBounds.setContainsTotalCount(true);
        List<${className}DO>  ${lowerName}List = getSqlSession().selectList("${projectName}.dao.${className}DAO.queryByList",${lowerName}DO,pageBounds);
        return (PageList<${className}DO>)${lowerName}List;
    }
    
     /**
     * 查询${commentName}信息列表（有条件）（无分页）（注：业务代码不要调用）
     * @param ${commentName} DO
     * @return List<${className}DO>
     */
    public List<${className}DO> queryByListNoPage(${className}DO ${lowerName}DO,PageBounds pageBounds){
        List<${className}DO>  ${lowerName}List = getSqlSession().selectList("${projectName}.dao.${className}DAO.queryByList",${lowerName}DO,pageBounds);
        return ${lowerName}List;
    }
}
